body, html {
    height: 100%;
    width: 100%;
}
  
body {
    margin: 0;
    padding: 0;
}
  
.container {
    background: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
.box {
    background: rgb(233, 232, 232);
    height: 600px;
    width: 600px;
    border-radius: 65px;
    padding: 20px;
    text-align: center;
}

.box > h1 {
    font-size: 50px;
}

.box > p {
    font-size: 30px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;   
}

.row > a {
    margin: 30px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    border-radius: 40px;
    background-color: lightgreen;
}